:root {
    --primary-color: #733634;
    --secondary-color: #8c9faa;
    --accent1-color: #9F0000;
    --accent2-color: #000009;
    --heading-font: "Roboto", sans-serif;
    --body-font: "Roboto", sans-serif;
}

* {
    margin-left: 0;
    padding: 0;
    box-sizing: border-box;
    
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    margin: 1rem auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #000009;
    max-width: 100%;
    box-sizing: border-box;
    padding: 0 1rem;
}

header img {
    margin: 0 0.25rem 0 1rem;
    width: 64px;
    height: auto;
}

.navigation {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    padding: 2px;
    font-family: var(--heading-font);
    margin-left: auto;
    justify-content: flex-end;
}
a:link {
    color: var(--accent2-color);
}
a:visited {
    color: var(--accent1-color);
}
.navigation li {
    flex: 1 1 auto;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    text-align: center;
    border: 2px solid #000009;
    background-color: var(--secondary-color);
    white-space: nowrap;
}

body {
    font-family: var(--body-font);
    color: var(--accent2-color);

}

header,
main,
footer {
    width: 90%;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);

}


nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
    width: 100%;
    min-height: 400px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.banner {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width:95%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;

}

article {
    position: absolute;
    top: 300px;
    width: 95%;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article img {
    float: right;
    width: 125px;
    border: 4px solid var(--accent2-color);
}

.history-img {
    float: right;
    margin: 0px 10px 10px 0;
    width: 200px;
    height: auto;
    border: 2px solid #000009;
}

.adventure {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.adventure-img {
    width: 150px;
    height: auto;
}

.form-item {
    display: grid;
    align-items: center;
}

.employee-info {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: stretch;
}

.employee-card {
    display: flex;
    align-items: center;
    gap: 24px;
    margin: 16px 0;
}

.employee-card.left {
    flex-direction: row;
}

.employee-card.right {
    flex-direction: row-reverse;
}

.associate-name {
    font-size: 0.9rem;
    padding-right: 10px;
    white-space: nowrap;
    margin: auto;

}

.associate-title {
    font-size: 0.7rem;
    color: var(--accent2-color);
    margin-top: -8px;
    margin-bottom: 8px;
    white-space: nowrap;

}

.associate-info {
    text-align: center;
}


.adventure-img1 {
    width: 150px;
    height: 150px;
    float: left;
    border: 2px solid var(--accent2-color);

}

.adventure-img2 {
    width: 150px;
    height: 150px;
    float: right;
    border: 2px solid var(--accent2-color);
}

.adventure-img3 {
    width: 150px;
    height: 150px;
    float: left;
    border: 2px solid var(--accent2-color);
}
form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid var(--accent1-color);
    background-color: var(--secondary-color);
    display: grid;

}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid var(--accent1-color)
}

legend {
    padding: 0.5rem;
    color: var(--accent2-color);
    font-size: 1.3rem;
}

label,
input,
button,
select,
textarea {
    font-family: var(--body-font);
}

label {
    text-align: right;
    padding-right: 1rem;
}

input,
textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;

}

.radio-group {
    margin-left: 2rem;
    text-align: left;
    text-wrap: nowrap;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 1fr 2fr;
    margin: 0.5rem 0;
}

.column2 {
    grid-template-columns: 1fr 2fr;
    margin: 0.5rem 0;
}

.socialmedia img {
    width: 32px;
    height: 32px;
    object-fit: cover;
    margin: 0 6px;
}

button {
    margin: 1rem;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}


footer {

    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: #fff;
}